/* page layout */
#flipbook div {
	background-image: url("img/paper.jpg");
    background-color: #000000;
}

/* cover layout */
#flipbook .hard {
	background-image: url("img/cover.jpg");
    background-color: #000000;
}
